
set default=0
set timeout=10

search --no-floppy --set=root -l 'Fedora-MATE'

echo -e "\nWelcome to Loongnix installer!\n\n"

menuentry 'PXE Install Loongnix' {
	reboot
  echo 'Loading kernel ...'
  linux vmlinuz ip=dhcp inst.repo=http://10.2.2.1/
 
  echo 'Loading initrd ...'
  initrd initrd.img
}
